.buttonUi{
    color: var(--colors-secondary-800);
    background-color: var(--colors-secondary-50);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
.buttonUi:hover{
    color: var(--colors-secondary-50);
    background-color: var(--colors-secondary-800);
}