.main_container2{
  width: 100%;
    height: 36em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container{
    width: 100%;
    height: 36em;
    background-image: url('../../../public/images/background-main.jpg');
    opacity: .3;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
  }

