.main_container{
    width: 100%;
    height: 36em;
    margin: 0;
    background-image: url('../../../public/images/backgraud-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonCard{
    width: 12em;
    height: 48px;
    
}