.productsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  .productsCard {
    width: 25%;
    height: 36em;
    border-radius: 8px;
    background-color: var(--colors-neutral-100);
    display: flex;
    flex-direction: column;
    border-bottom: solid 4px var(--colors-secondary-500);
    overflow: hidden;
    .productTitle {
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--colors-secondary-800);
    }

    .productCoin {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .productInformation {
      width: 100%;
      height: 60%;
    }
    .utils{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: solid 1px var(--colors-secondary-500);
        padding: 1em;
        height: 15%;
        h2{
            font-weight: 700;
        }
    }
    .productButton {
      width: 100%;
      height: 10%;
      overflow: hidden;
      border-radius: 8px;
    }
  }
}
